/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-primary: "Inter", sans-serif;
  --color-primary: #3238f2;
  --color-navLinkHover: #3238f2;
  --color-headerBG: #fafafc;
  --color-headline: #000000;
}

@layer {
  .main-container {
    @apply container max-w-screen-xl mx-auto;
  }
  .section-wrapper {
    @apply py-20 top-[72px] relative from-gray-200 via-purple-100 to-transparent overflow-x-hidden overflow-y-clip;
  }
  ::-webkit-scrollbar {
    @apply w-2.5;
  }
  ::-webkit-scrollbar-track {
    @apply bg-["#f1f1f1"];
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-primary h-[100px];
  }
}
